{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="password-change-done-container">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Пароль успешно изменен</h3>
                    </div>
                    <div class="card-body text-center">
                        <p class="mb-4">Ваш пароль был успешно изменен.</p>
                        <div class="d-grid gap-2">
                            <a href="{% url 'account' %}" class="btn btn-primary">Вернуться в личный кабинет</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}